/* Layout */

:root {
    --color-primary: #fff;
    --color-secondary: rgba(184, 159, 17);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    background-color: var(--color-primary);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sketchpad {
    display: grid;
    width: 275px;
    height: 275px;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px 3px  rgb(255, 0, 0);
    margin: 30px 0 30px 0;
}

.options {
    display: flex;
    flex-direction: column;
}

button {
    height: 30px;
    width: 275px;
    background-color: var(--color-primary);
    border: 0.1px solid var(--color-secondary);
    border-radius: 2px;
    color: var(--color-secondary);
    margin: 5px 0 5px 0;
}

h1 {
    color: var(--color-secondary);
    font-size: 3em;
    padding-top: 20px;
}

.cell {
    border: 0.1px solid rgb(255, 212, 212);
    background-color: var(--color-primary);
}
