/* Layout */
* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
            "header"
            "main"
            "options"
            "footer";
    grid-template-rows: 15vh 60vh 10vh auto;
    grid-template-columns: 100vw;
}

@media (min-width: 550px) {
    body {
        grid-template-areas: "header header header"
                             "options main main"
                             "footer footer footer";
        grid-template-rows: 15vh 70vh auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


header {
    grid-area: header;
    
    background-color: yellow;
}

.options {
    grid-area: options;

    background-color: aqua;
}

main {
    grid-area: main;

    background-color: deeppink;
}

footer {
    grid-area: footer;

    background-color: coral;
}

